.container-fluid {
  text-align: center;
}
@media screen and (max-width: 575.20px) {
  .navbar-nav {
  margin: auto;
  }
}
.carousel-item {

}
.carousel-inner {

}
img {
  width: 500px;
  height: 400px;
}
